@import "~bootstrap/scss/bootstrap";
@import "~toastr/build/toastr.css";

body {
    // Pad the top.
    // - Just for the top nav: 40px
    // - Top nav plus connection status bar: 72px;
    padding-top: 72px;
    margin: 0;
    height: 100%;
    min-width: 932px;
}

@media only screen and (max-width: 1000px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;
    }
}

html {
    height: 100%;
}

.top-nav {
    padding-top: 0;
    padding-bottom: 0;
}

// Fix the radius when 2 items are appended to an input group.
.input-group-append {
    select {
        @extend .dropdown-toggle;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        // Fixes the glowing border around the select.
        position: relative;
        z-index: 2;
    }
}

// Disable opacity on toastr, it can be hard to see.
.toast {
    opacity: 1 !important;
}

// Shift the Toastr display down so the settings button in the navigation bar can
// still be pressed when displayed.
.toast-top-right {
    top: 42px;
    right: 12px;
}
